.file-download-container {
    display: flex;
    justify-content: end;
    margin-top: -7vh;
    margin-right: 5vw;
    position: relative;
    z-index: 9999; }

.file-download-container .text {
    width: 100px; }
