:root {
  --corp-main-color: 253 126 20; /*#fd7e14;*/
  --corp-secondary-color: 210, 255, 77;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-flow-container {
  width: 80%;
  height: 80%;
  padding: 3px;
  background: #f0f0f0;
  border: solid 1px silver;
  border-radius: 3px;
  display: flex; justify-content: center;
}
.react-flow {
  background: #fff;
}

.MuiPopover-root{
  z-index: 10 !important;
}

.header-form {
  font-size: 1.5rem !important;
  color: rgba(var(--corp-main-color)) !important;
}
