# This workflow deploys the current branch to Heroku https://grid-optimizer-pr-xxx.herokuapp.com/

name: Deploy PR @ Heroku 

# Controls when the action will run. 
on:
  pull_request:
    types: [opened, synchronize, reopened]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 8
      - name: Set up Node.js 14.15.1
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.1
      - name: Install node modules
        working-directory: ./src-frontend
        run: yarn install
      - name: Gradle Cache
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build with Gradle
        run: gradle build
      - name: Check bundle
        run: ls ./bundle -l
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: server-artifact
          path: ./bundle

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        
        # Update status   
      - uses: altinukshini/deployment-action@v1.2.6
        name: Create GitHub deployment
        id: deployment
        with:
          token: "${{ github.token }}"
          pr: true
          pr_id: ${{ github.event.pull_request.number }}
          target_url: https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/
          environment: "PR #${{ github.event.pull_request.number }} Review"
        
        # Get latest Artifact
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: server-artifact
          path: ./bundle
      - name: Check bundle
        run: ls ./bundle -l
      
        # Deploy
      - name: Dockerize and Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "grid-optimizer-pr-${{ github.event.pull_request.number }}"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          usedocker: true
          healthcheck: "https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/api/version"
          delay: 15
          rollbackonhealthcheckfailed: true
          stack: "container"

        # Update status
      - name: Update deployment status (success)
        if: success()
        uses: altinukshini/deployment-status@v1.0.1
        with:
          token: "${{ github.token }}"
          pr: true
          pr_id: ${{ github.event.pull_request.number }}
          target_url: https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/
          environment_url: https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/
          state: "success"
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}

      - name: Update deployment status (failure)
        if: failure()
        uses: altinukshini/deployment-status@v1.0.1
        with:
          token: "${{ github.token }}"
          pr: true
          pr_id: ${{ github.event.pull_request.number }}
          target_url: https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/
          environment_url: https://grid-optimizer-pr-${{ github.event.pull_request.number }}.herokuapp.com/
          state: "failure"
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
